<script src="{{AppSubUrl}}/assets/js/deflate.js"></script>
<script src="{{AppSubUrl}}/assets/js/encode.js"></script>
<script src="{{AppSubUrl}}/assets/js/plantuml_codeblock_parse.js"></script>
<script>parsePlantumlCodeBlocks("http://localhost:3080/svg")</script>
